#root {
  margin: 0 auto;
  height: 100vh;
} 

@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: url(/fonts/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 500; 
  font-style: normal; 
}

@font-face {
  font-family: 'Poppins';
  src: url(/fonts/Poppins-Bold.ttf) format('truetype');
  font-weight: 700; 
  font-style: normal; 
}

* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url(/img/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*background: rgb(2,0,36);
  background: linear-gradient(99deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%); */
}

.students-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.students-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 8px;
  padding-bottom: 20px;
  min-width: 600px;
  border-radius: 10px;
}

#software-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#software-logo img {
  animation: rotate 3s linear infinite;
}

.students-form label {
  font-weight: 500; 
}

.students-form button {
  background-color: #F28500 !important;
  border: #F28500 !important;
  border-radius: 15px;
  padding: 8px;
  margin-top: 8px;
}

/*Welcome */

.welcome-main {
  height: 100%;
  width: 100%;
  background: url(/img/welcome_join_hd.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: self-end;

}

.welcome-main section {
  margin-bottom: 100px;
  padding-left: 20px;
}

.welcome-main section button {
  background-color: #e0e0e0e0;
  border: #e0e0e0e0;
  color: #4169e1;
  font-weight: 700;
  font-size: 25px;
  border-radius: 40px;
  padding: 10px;
  width: 140px;
}

.welcome-main section button a {
  text-decoration: none;
}

/* Students */

.students-main {
  height: 100%;
  width: 100%;
  background: url(/img/background.png);
  background-size: cover;
}

.students-table-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  max-height: 600px; 
  overflow-y: auto; 
}

.students-table-container table {
  background-color: rgba(245, 241, 241, 0.11); 
  border-collapse: collapse; 
  color: white;
  border-radius: 20px;
}

.students-table-container th, 
.students-table-container td {
  background-color: transparent; 
  border: 1px solid rgba(0, 0, 0, 0.2); 
  color: white; 
  padding: 15px;
  border-radius: 20px;
}

.students-table-container::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
}

.students-table-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Background color of the scrollbar track */
}

.students-table-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

.students-table-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker color when hovering over the scrollbar thumb */
}

